{% extends "proj_base.html.twig" %}

{% block title %}Projekt{% endblock %}

{% block main %}
<div class="blackjack">
    <h1>Projekt Balckjack</h1><br>
    <p>Här kommer det text om projektet...</p>

    <a href="https://sv.wikipedia.org/wiki/Tjugoett_(kortspel)">ev ref länk ang blackjack</a><br>

    <button class="button" role="button">
        <a href="{{ path('proj')}}">spela</a>
    </button><br>

    <a href="{{ path('database_proj') }}">Databas dokumentation</a>
</div>

{% endblock %}
