{% extends "proj_base.html.twig" %}

{% block title %}Projekt{% endblock %}

{% block main %}
<div class="blackjack">
    <h1>Databas dokumentation</h1><br>
    <p>Här kommer det text om databasen...</p>


    <a href="{{ path('about_proj') }}">tillbaka</a>

</div>

{% endblock %}
