{% extends "proj_base.html.twig" %}

{% block title %}Card21 Game{% endblock %}

{% block main %}
{# {{ dump(draw) }} #}
<div class="blackjack">
<h1>Blackjack [START]</h1>


<button class="button" role="button">
    <a href="{{ path('init_get')}}">new game</a>
</button><br>

<button class="button" role="button">
    <a href="">load game</a>
</button><br>

<button class="button" role="button">
    <a href="{{ path('me') }}">quit</a>
</button><br>

</div>
{{ dump(game) }}
{% endblock %}





