{% extends "proj_base.html.twig" %}

{% block title %}Projekt{% endblock %}

{% block main %}
<div class="blackjack">
    {# {{ dump(game) }} #}
    <h1>Slutprojektet Blackjack</h1><br>
    <p>Här kommer en text om spelet...</p>

    <a href="https://sv.wikipedia.org/wiki/Black_Jack">Blackjack - Wikipedia</a><br>

    <button class="button" role="button">
        <a href="">spela</a>
    </button><br>

    <a href="{{ path('doc') }}">Dokumentation</a>
</div>

{% endblock %}
