{% extends "proj_base.html.twig" %}

{% block main %}
{# {{ dump(game) }} #}
<div class="blackjack">
    <h1>Blackjack [START]</h1>

    <p>How many hands of cards do you want to have in the game?</p>
    
    <form method="post" action="">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Your name..">
        <label for="numOfHands">Number of hands</label>
        <input type="number" name="num_of_hands" min="1" max="3" value="1">
        <input type="submit" name="do_it" value="Start playing">
    </form>
</div>
{% endblock %}
