{% extends "base.html.twig" %}

{% block main %}
<h1>Page to test Cards</h1>
<h2>Testing card</h2>

<p>The test route for the card contains:</p>
<p>{{ dump(cards) }}</p>

<p>deck1 contains:</p>
<p>{{ dump(deck1) }}</p>

<p>deck2 contains:</p>
<p>{{ dump(deck2) }}</p>

{% endblock %}