
{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block main %}
<p>The session contains:</p>
{{ include('flash.html.twig') }}
{{ dump(session) }}

<li class="ul_foot">{{ include('card/session/session_destroyed_link.html.twig') }}</li>

{% endblock %}
