<nav>
    <ul>
        <li><a href="{{ path('card_start') }}">Startsida kortlek</a></li>
        <li><a href="{{ path('test') }}">| Testsida</a></li>
        <li><a href="{{ path('card_deck') }}">| Kortlek sorterad</a></li>
        <li><a href="{{ path('shuffle') }}">| Kortlek blandad</a></li>

    </ul>
</nav>