{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}


<div class="card">
    <h1>Card game</h1>

    <nav>
        <ul>
            <li><a href="{{ path('test') }}">Testsida för kort klasser</a></li>

        </ul>
    </nav>
</div>


{% endblock %}
