@import 'header.css';
@import 'grid.css';
@import 'flexbox.css';



* {
    margin: auto;
    padding: auto;
}

body {
    background: url('../images/background.jpg');
    background-size:auto;
}

header {
    background-color: #ffffffcc;
    padding: 0;
}

main {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: #ffffffcc;
}

footer {
    background-color: #ffffffcc;
}