/* The basic style element */
* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

main {
    width: 70%;
    /* min-height: 500px; */
    margin: 2em auto 2em auto;

    background-color: var(--bg-col);
    border-radius: 1%;
}

/* för att bilder ska hålla sig innanför layouten */
img,
embed,
object,
video {
    max-width: 100%;
}

img {
    display:block;
    margin: auto;
    padding: 0.5em;
}

a {
    font-family: var(--font-heading);
    color: var(--font-col);
    font-weight: bold;
    text-decoration: none;
}


a:hover {
    color: var(--highlight-col);
}

ul {
    list-style-type: none;
}

ul li a {
    font-family: var(--font-heading);
    color: var(--font-col);
    font-weight: bold;
    font-size:x-large;
    text-decoration: none;
}

ul li:hover {
    transform: scale(1.2);
}

ul li a:hover {
    color: var(--highlight-col);
}

.ul-metrics {
    list-style-type: square;
}

.li-metrics {
    font-family: var(--font-heading);
    color: var(--font-col);
    font-weight: bold;
    font-size: large;
    margin: 1em;
}

.li-metrics:hover {
    transform:none;
}



.dice-ul {
    display: flex;
}
.dice {
    font-size: 150px;
}

main a {
    margin: 1em;
}

form input {
    border:solid 1px black;
    font-size: 1em;
    padding: 0.2em;
    margin: 0 0 0.8em 0.1em;
    border-radius: 0.4em;
}

.ram {
    border: 1px solid black;
    border-radius: 1%;
    background-color: #d0cece;;
}