/* The basic style element */
* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

main {
    width: 70%;
    /* min-height: 500px; */
    margin: 2em auto 2em auto;
    padding: 3em 0 3em 0;

    background-color: var(--bg-col);
    border-radius: 1%;
}

/* för att bilder ska hålla sig innanför layouten */
img,
embed,
object,
video {
    max-width: 100%;
}

a {
    font-family: var(--font-heading);
    color: var(--font-col);
    font-weight: bold;
    text-decoration: none;
}


a:hover {
    color: var(--highlight-col);
}

ul {
    list-style-type: none;
}

ul li a {
    font-family: var(--font-heading);
    color: var(--font-col);
    font-weight: bold;
    font-size:x-large;
    text-decoration: none;
}

ul li:hover {
    transform: scale(1.2);
}

ul li a:hover {
    color: var(--highlight-col);
}

.dice-ul {
    display: flex;
}
.dice {
    font-size: 150px;
}

main a {
    margin: 0.5em;
}