.game {
    background-color: #82c982;
    border-radius: 1em;
    padding:2em;
}

.ul-game {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: antiquewhite;
    border-radius: 0.5em;
    width: 80px;
    height: 120px;
    margin: 1em;
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
}

.card-topp {
    align-self: baseline;
    line-height: 0.8;
}

.card-mid {
    width: 120px;
    height: 55px;
    align-self: center;
    line-height: 0.8;
}

.card-bottom {
    align-self: flex-end;
    line-height: 0.8;
    text-align: end;
}