/* Style for header and nav */

header {
    background-color: var(--main-col);
    min-height: 100px;
    padding: 0;
}

header h1 {
    font-family: var(--font-heading);
    color: var(--font-col);
    margin: auto auto 1em 1em;
    padding: 1em 0 0 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em;
    margin: 0.5em 0 0.5em 0;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
}

nav ul li a {
    font-family: var(--font-heading);
    color: var(--font-col);
    font-weight: bold;
    font-size:x-large;
    text-decoration: none;
    padding: 0px 20px 0px 20px;
}

nav ul li:hover {
    transform: scale(1.2);
}
    
nav ul li a:hover {
    color: var(--highlight-col);
}
