/* The basic style element */
* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

.blackjack {
    width:80%;
    margin:auto;
    border-radius: 1%;
    text-align: center;
    background-color: rgba(119, 0, 0, 0.72);
}