/* The basic style element */
* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
}

/* för att bilder ska hålla sig innanför layouten */
img,
embed,
object,
video {
    max-width: 100%;
}

img {
    display:block;
    margin: auto;
    padding: 0.5em;
}

ul {
    list-style-type: none;
}


.blackjack {
    width:80%;
    margin:auto;
    border-radius: 1%;
    text-align: center;
    background-color: rgba(9, 119, 0, 0.81);
    padding: 0 0 2em 0;
}

form input {
    border:solid 1px black;
    text-align: center;
    font-size: 1em;
    padding: 0.2em;
    margin: 0 0 0.8em 0.1em;
    border-radius: 0.4em;
}