{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block main %}
    <h1>About!</h1>
    <p>This will be about the course etc</p>
{% endblock %}

{% block header %}header{% endblock %}

{% block footer %}footer{% endblock %}
