{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block main %}
    <div class="flex-container">
        <div class="flex1">
            <a href="{{ asset('img/php_symfony.png') }}">
                <img src="{{ asset('img/php_symfony.png') }}" width="1000" alt="me">
            </a>
        </div>
        <div class="flex2">
            <h1>Om!</h1>
            <br>
            <p>
                Det här är en redovisnings sida för kursen mvc som ska lära oss om Objektorienterade webbteknologier. Vi jobbar med ett php ramverk kallat symfony. Vi kommer även titta på enhetstestning, kodkvalitet och databaskopplingar med något som förkortas ORM.
            </p>
            <br>
            <p>här är några länkar</p>
            <br>
            <ul>
                <li><a href="https://github.com/dbwebb-se/mvc" target="_blank"><i class="fa-brands fa-github"></i> Kurs Repo</a></li>
                <li><a href="https://github.com/Kof666/MVC" target="_blank"><i class="fa-brands fa-github"></i> Mitt Repo</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
