{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block main %}
    <h1>About!</h1>
    <div class="flex-container">
        <div class="flex1">
            <a href="https://github.com/dbwebb-se/mvc"><i class="fa-brands fa-github"></i> Course Repo</a>
    
        </div>
        <div class="flex2">
            <p>The name "mvc" is our own nickname for the course and under that name hides object-oriented PHP programming with known web frameworks, unit testing, code quality and database connections with object relational mapping (ORM).</p>
            <p>The course consists of 6 course elements that must be completed and submitted as well as a final kmom07/10 which examines the course. The course elements are partially marked in yellow as they will be reviewed and released continuously during the course.</p>
            
        </div>
    </div>

{% endblock %}
