{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block main %}

<h1>API</h1>

<p>Här är webplatsens olika JSON routes</p>

<a href="{{ path('api/quote') }}" target="_blank">api/quote</a>
<p>Ger slumpmässiga citat, datum och tidsstämpel</p>


<a href="{{ path('api_deck') }}" target="_blank">api_deck</a>
<p>Ger en kortlek sorterad i färg och värde</p>
<a href="{{ path('api_shuffle') }}" target="_blank">api_shuffle</a>
<p>Ger en blandad kortlek</p>


{% endblock %}
