{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block main %}

<h1>API</h1>

<p>H채r 채r webplatsens olika JSON routes</p>

<a href="{{ path('api/quote') }}" target="_blank">api/quote</a>
<p>Ger slumpm채ssiga citat, datum och tidsst채mpel</p>

{% endblock %}
