{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block main %}
    <h1>Lucky!</h1>
    <p>this will be the crazy page..</p>
{% endblock %}

{% block header %}header{% endblock %}

{% block footer %}footer{% endblock %}
