{% extends "base.html.twig" %}

{% block title %}Lucky Number{% endblock %}

{% block main %}

<div class="{{ tag }}">
    <h1>Lucky?</h1>
    {% if tag == 'loser' %}
        <p>Testa din lycka! kasta t채rningen och se om du kan f책 en sexa.</p>
    {% elseif tag == 'winner' %}
        <h1> GRATTIS!!! DU FICK EN SEXA!!!!</h1>
    {% endif %}

    {% if number == 1 %} <div class="dice">&#9856;</div> 
    {% elseif number == 2 %} <div class="dice">&#9857;</div>
    {% elseif number == 3 %} <div class="dice">&#9858;</div>
    {% elseif number == 4 %} <div class="dice">&#9859;</div>
    {% elseif number == 5 %} <div class="dice">&#9860;</div>
    {% elseif number == 6 %} <div class="dice">&#9861;</div>
    {% endif %}

    {% if tag == 'loser' %}
        <p>Ledsen, ingen sexa. testa igen..</p>
    {% elseif tag == 'winner' %}
        <p>Kan du f책 en till sexa???</p>
    {% endif %}

    <button class="button" role="button">
        <a href="{{ path('lucky') }}">Kasta t채rningen</a>
    </button>
</div>
{% endblock %}
