{% extends "base.html.twig" %}

{% block title %}Hem{% endblock %}

{% block main %}
<div class="flex-container">
    <div class="flex1">
        <a href="{{ asset('img/me2.jpg') }}">
            <img src="{{ asset('img/me2.jpg') }}" alt="me">
        </a>
    </div>
    <div class="flex2">
        <h1>Home!</h1>
        <p>
            Jag heter Kristoffer och är 45 år. Jag jobbar som turnerande ljusdesigner och har nyligen börjat intresserat mej för annan slags programmering än ljusbord.  
        </p>
    </div>
</div>
{% endblock %}
