{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block main %}
    <h1>Report!</h1>
    <p>This will be the page for my reports</p>
{% endblock %}

{% block header %}header{% endblock %}

{% block footer %}footer{% endblock %}
