{% extends "base.html.twig" %}

{% block title %}Card21 Game{% endblock %}

{% block main %}
    <h1>Dokumentation</h1>

    <p>Här kommer det komma text om applikationen...</p>

    <img src="{{ asset('img/game21_v2.png') }}" width="600" alt="uml">


{% endblock %}
