{% extends "base.html.twig" %}

{% block title %}Card21 Game{% endblock %}

{% block main %}
    <h1>Dokumentation</h1>

    <p>Detta är min dokumentation för applikationen card21 som är en enkel variant av kortspelet 21.</p>

    <h2>Klasser</h2>
    <h3>Card</h3>
    <p>Den här klassen hanterar varje kort i kortleken och har två stycken variabler, value och suit. Value är kortets värde och suit är kortets färg.</p>

    <h3>DeckOfCards</h3>
    <p>Den här klassen initierar och hanterar en kortlek som består av 52 stycken instanser av klassen GraphicCard. Den skapar en vanlig kortlek med 52 kort och har funktioner som till exempel shuffle som blandar leken, draw som drar översta kortet, cardCount som ger hur många kort som finns kvar.</p>
    
    <h3>CardGraphic</h3>
    <p>Den här klassen är en utveckling av klassen Card. Den ärver alltså Cards egenskaper och ger en specialisering i form av en snyggare utskrift av klassen Cards färg där suit får ett utf8 tecken som representerar färgen istället för en text.</p>
    
    <h3>Play21</h3>
    <p>Den här klassen hanterar själva spelet. När du initierar denna klassen skapas en kortlek som blandas och omgångar för spelare och bank nollställs. Här sparas även spelarens och bankens giv, playerHand och bankHand som varsin array. Här finns även spelets logik.</p>

    <h2>pseudokod</h2>
    <p>Nedan är pseudokod för flödet av spelet som jag tänkte mig det innan jag började programmera.</p>
    <img src="{{ asset('img/psuedokod.png') }}" width="600" alt="uml">

    <h2>Flödesschema</h2>
    <p>Här är det flödesschema jag gjorde innan programmeringen.</p>
    <img src="{{ asset('img/game21_v2.png') }}" width="600" alt="uml">

    <h2>UML klass diagram</h2>
    <p>Här är ett försök till ett klass diagram</p>
    <img src="{{ asset('img/card21UML.png') }}" width="600" alt="uml">


{% endblock %}
