{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h1>Library homepage</h1>
    {{ include('card/flash.html.twig') }}

    <p>Here you can add, read about, update and delete books from the library</p>
</div>

<button class="button" role="button">
    <a href="{{ path('library_create_get')}}">add new</a>
</button>

<button class="button" role="button">
    <a href="{{ path('library_view_all')}}">view books</a>
</button>
{% endblock %}
