{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h1>Bibloteket</h1>
    {{ include('library/flash.html.twig') }}

    <p>Välkomen till bibloteket. Här kan du lägga till, läsa om, uppdatera och radera böcker.</p>
</div>

<button class="button" role="button">
    <a href="{{ path('library_create_get')}}">lägg till</a>
</button>

<button class="button" role="button">
    <a href="{{ path('library_view_all')}}">Lista över böcker</a>
</button>

<button class="button" role="button">
    <a href="{{ path('library_reset')}}">Bibloteks reset</a>
</button>
{% endblock %}
