{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block main %}

<ul>
    {% for book in library %}
        <li>{{ book.getTitle|e }} | {{ book.getIsbn|e }} | {{ book.author|e }} | {{ book.picture|e }}</li>
    {% endfor %}
</ul>

{% endblock %}
